:root {
    --white: #fff;
    --blue: #659dbd;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-btw {
    justify-content: space-between;
}

.width100 {
    width: 100%;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.center {
    text-align: center;
}

.txt-w {
    color: var(--white);
}

.bg-b {
    background: var(--blue);
}

body {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font: 1rem/1.5 "Montserrat", sans-serif;
    overflow: hidden;
}

.header {
    padding: 20px;
    border-bottom: 1px solid #fbeec1;
}

.header li:not(:last-child) {
    margin-right: 20px;
}
   
.header .name {
    font-size: 1.2rem;
}

.heading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}
   
.contact {
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 600px) {
    html {
      font-size: 12px;
    }
  }